@charset "utf-8";
/* CSS Document */

body {
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-size: 100% auto;
	background-image: url(/C:/Users/joeet/OneDrive/Desktop/Responsive-design-unit/webroot/images/image.jpg);
    background-repeat: repeat;
}

/* nav */

#nav {
	width: 100vw; 
	height: 10vh;
	background-color: white;
	position: relative;
	float: left;
	clear: left;
}

#navborder{
	position: relative;
	border: 1px outset gray;
}

#footerborder{
	position: relative;
	border: 1px outset gray;
	bottom: 103%;
}

/* unvisited link */
a:link {
  color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
    text-decoration: none;
}

/* selected link */
a:active {
  color: black;
    text-decoration: none;
}

#flex-container2 {
	position: relative;
	width: 100%;
	height: 100%;
    display: flex;
	flex-direction: row;
}

.nav-bar {
	position: relative;
	width: 9%;
	height: 8vh;
    background-color: gold;
    font-size: 1.5vw;
    text-align: center;
    line-height: 6.5vh;
    border-radius: 1vw;
	border: 2px outset black;
	top: 17%;
}

#flex-item_1 {
	width: 6%;
    height: 100%;
}

#flex-item_2 {
    margin-left: 55.7%;
    margin-right: 0.5%;
}

#flex-item_3 {
    margin-right: 0.5%;
}

#flex-item_4 {
    margin-right: 0.5%;
}

#flex-item_5 {
    margin-right: 0.5%;
}

#logo { 
    position: relative;
    height: 100%;
    width: 100%;
    left: 0.5vw;
}

/* header */

#header {
	position: relative;
	width: 100vw;
	height: 13vh;
	float: left;
	clear: left;
}

#flex-container1 {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}


.nav-bar2 {
	position: relative;
    width: 110%;
    height: 5vh;
    background-color: gold;
    font-size: 1.5vw;
    text-align: center;
    line-height: 3.5vh;
    border-radius: 1vw;
    border: 2px outset black;
}

/* mains */

/* main1 */

#main1 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
}

/* main2 */

#main2 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
	display: none;
}

#google_map1 {
	position: relative;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
}

/* main3 */

#main3 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

#video1 {
	position: relative;
	width: 25%;
	height: 46%;
	left: 1%;
	top: 29%;
	float: left;
    clear: left;
}

#youtube1 {
	position: relative;
	width: 25%;
	height: 46%;
	top: 29%;
	left: 1%;
	float: left;
	clear: left;
	overflow: auto;
}

/* main4 */

#main4 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

/* main5 */

#main5 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.Slides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*register+login*/

#mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 5;
    display: none;
}

#register {
	top: 53%;
	left: 92vw;
	cursor: pointer;
	z-index: 6;
}

.form-input1 {
	position: relative;
    width: 50%;
    float: left;
    clear: left;
    margin-top: 5vh;
    left: 27.5%;
}

.login_process {
    position: relative;
    width: 10%;
    height: 100%;
    text-align: center;
}

#loginform-container {
	position: absolute;
	width: 55%;
	height: 50%;
	left: 25%;
	top: 25%;
	border: 2px black solid;
	background-color: white;
	z-index: +10;
	display: none;
}

#regform-container {
	position: absolute;
	width: 55%;
	height: 50%;
	left: 25%;
	top: 25%;
	border: 2px black solid;
	background-color: white;
	z-index: +10;
	display: none;
}

#submit_button {
	position: relative;
    width: 20% !important;
    height: 4vh;
    left: 43%;
    float: left;
    clear: left;
    margin-top: 3%;
}

#form1name {
	position: relative;
    top: 5vh;
    right: 35.5%;
}

#form1email {
	position: relative;
    top: 13.5vh;
    right: 43.6%;
}

#form1password {
	position: relative;
    top: 22vh;
    right: 56.2%;
}

#form1confirm {
	position: absolute;
    top: 31vh;
    right: 72.8%;
}

#login {
	bottom: 32%;
	left: 92vw;
	cursor: pointer;
	z-index: 6;
}

.form-input2 {

    position: absolute;
    width: 50%;
    float: left;
    clear: left;
    left: 27.5%;
}

#username2 {
    margin-top: 12vh;
}

#email2 {
    margin-top: 20vh;
}

#password2 {
    margin-top: 28vh;
}

#login_button {
    position: relative;
    width: 20% !important;
    top: 36vh;
    left: 8%;
    height: 4vh;
}

#form2name {
	position: relative;
    top: 12vh;
    left: 8vw;
}

#form2email {
	position: relative;
    top: 20vh;
    left: 3.6vw;
}

#form2password {
	position: relative;
    top: 28vh;
    right: 3.3vw;
}

/* footer */

#footer {
    position: relative;
	width: 100vw;
	height: 11vh;
	float: left;
	clear: left;
}

#flex-container3 {
	position: relative;
	width: 100%;
	height: 100%;
    display: flex;
	flex-direction: row;
}

#facebook{
    position: relative;
    width: 4%;
	height: 70%;
	left: 80vw;
	top: 6%;
}

#insta{
	position: relative;
    width: 4%;
	height: 70%;
	left: 81vw;
	top: 6%;
}

#twitter{
	position: relative;
    width: 4%;
	height: 70%;
	left: 82vw;
	top: 6%;
}

#linkedin{
	position: relative;
    width: 4%;
	height: 70%;
	left: 83vw;
	top: 6%;
}

.imagesize{
	width: 100%;
    height: 100%;
}

#btn1 {
	position: absolute;
	top: 25%;
	right: 95%;
}

#btn2 {
	position: absolute;
	top: 25%;
	right: 90%;
}

/*Start of the media screen*/

@media screen and (max-width:414px){
	
	#hamburger_menu {
		display: block;
		position: relative;
		clear: left;
		float: left;
		width: 10%;
		height: 10vh;
	}	

	.cookie-banner {
		position: fixed;
		bottom: 40px;
		left: 10%;
		right: 10%;
		width: 80%;
		padding: 5px 14px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #eee;
		border-radius: 5px;
		box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	  }
	  .close {
		height: 20px;
		background-color: #777;
		border: none;
		color: white;
		border-radius: 2px;
		cursor: pointer;
	  }

}