@charset "utf-8";
/* CSS Document */

body {
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-size: 100% auto;
	background-image: url(../images/image.jpg);
    background-repeat: repeat;
}

#hamburgermenu {
	display: none;
}

/* nav */

#nav {
	width: 100vw; 
	height: 10vh;
	background-color: white;
	position: relative;
	float: left;
	clear: left;
}

#navborder{
	position: relative;
	border: 1px outset gray;
}

#footerborder{
	position: relative;
	border: 1px outset gray;
	bottom: 103%;
}

#flex-container2 {
	position: relative;
	width: 100%;
	height: 100%;
    display: flex;
	flex-direction: row;
}

.nav-bar {
	position: relative;
    width: 6%;
    height: 100%;
    font-size: 1.5vw;
    text-align: center;
	line-height: 10.5vh;
	transition: 0.3s;
}

#flex-item_1 {
	width: 6%;
	height: 100%;
	cursor: pointer;
}

#flex-item_2 {
	position: absolute;
	margin-left: 68%;
    cursor: pointer;
}

#flex-item_3 {
	position: absolute;
	margin-left: 76%;
	cursor: pointer;
}

#flex-item_4 {
	position: absolute;
	margin-left: 84%;
	cursor: pointer;
}

#flex-item_5 {
	position: absolute;
	margin-left: 92%;
	cursor: pointer;
}

.nav-bar:hover {color: darkorange;}

#logo { 
    position: relative;
    height: 100%;
    width: 100%;
	left: 0.5vw;
	cursor: pointer;
}

/* header */

#header {
	position: relative;
	width: 100vw;
	height: 13vh;
	float: left;
	clear: left;
}

#flex-container1 {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}


.nav-bar2 {
	position: relative;
    width: 110%;
    height: 5vh;
    background-color: orange;
    font-size: 1.5vw;
    text-align: center;
    line-height: 3.5vh;
    border-radius: 0.5vw;
    border: 1px outset black;
	opacity: 0.55;
	transition: 0.3s;
}

.nav-bar2:hover {opacity: 0.9;}

/* mains */

/* main1 */

#main1 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
}

/* main2 */

#main2 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
	display: none;
}

#google_map1 {
	position: relative;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
}

/* main3 */

#main3 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

#video1 {
	position: relative;
	width: 25%;
	height: 46%;
	left: 1%;
	top: 1%;
	float: left;
    clear: left;
}

#youtube1 {
	position: relative;
	width: 25%;
	height: 46%;
	top: 4%;
	left: 1%;
	float: left;
	clear: left;
	overflow: auto;
}

/* main4 */

#main4 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

.form1_elements {
    position: relative;
    width: 50%;
    height: 17%;
    margin-top: 1%;
    left: 25%;
    bottom: 7%;
}

#submit_form1 {
    height: 8%;
    position: absolute;
    width: 19%;
    margin-left: 17%;
    margin-bottom: 8%;
}

/* main5 */

#main5 {
    position: relative;
	width: 100vw;
	height: 68vh;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.Slides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

a.next {
	right: 25%;
}

a.prev {
	left: 25%;
}

.image {
	position: relative;
	left: 25%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  left: 25%;
  z-index: 1;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*register+login*/

#mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 5;
    display: none;
}

#login {
	bottom: 32%;
	left: 92vw;
	cursor: pointer;
	z-index: 6;
}


.login_process {
    position: relative;
    width: 10%;
    height: 100%;
    text-align: center;
}

#loginform-container {
	position: absolute;
	width: 50%;
	height: 50vh;
	left: 25%;
	top: 25vh;
	border: 2px black solid;
	background-color: white;
	z-index: +10;
	display: none;
}

#login_form1{
	position: relative;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
}

.loginform_elements{
	position: relative;
    width: 50%;
    height: 3vh;
    float: left;
    clear: left;
    margin-bottom: 1vh;
    left: 25%;
}

#register {
	top: 53%;
	left: 92vw;
	cursor: pointer;
	z-index: 6;
}

#regform-container {
	position: absolute;
	width: 50%;
	height: 50vh;
	left: 25%;
	top: 25vh;
	border: 2px black solid;
	background-color: white;
	z-index: +10;
	display: none;
}

#reg_form1{
	position: relative;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
}

.regform_elements{
	position: relative;
    width: 50%;
    height: 3vh;
    float: left;
    clear: left;
    margin-bottom: 1vh;
    left: 25%;
}



/* footer */

#footer {
    position: relative;
	width: 100vw;
	height: 11vh;
	float: left;
	clear: left;
}

#flex-container3 {
	position: relative;
	width: 100%;
	height: 100%;
    display: flex;
	flex-direction: row;
}

#facebook{
	position: absolute;
    width: 4%;
    height: 70%;
    left: 80vw;
    top: 6%;
}

#insta{
	position: absolute;
    width: 4%;
    height: 70%;
    left: 85vw;
    top: 6%;
}

#twitter{
	position: absolute;
    width: 4%;
    height: 70%;
    left: 90vw;
    top: 6%;
}

#linkedin{
	position: absolute;
    width: 4%;
    height: 70%;
    left: 95vw;
    top: 6%;
}

.imagesize{
	width: 100%;
    height: 100%;
}

#btn1 {
	position: absolute;
	top: 25%;
	right: 95%;
}

#btn2 {
	position: absolute;
	top: 25%;
	right: 90%;
}

@media screen and (min-width:415px) and (max-width:1024px){
	
	.maintextnormal {
		font-size: 2vw;
	}	
		}


/*styles used for mobile screen upto 414 pixel viewport.*/
@media screen and (max-width:414px){

body {
overflow: none;
}
	
*#login_register {
    justify-content: space-around;
}

*.loginregister {
    font-size: 3vw !important;
    width: 48% !important;
    height: 2vh !important;
    line-height: 2vh !important;
}
	
#nav-bar {
    display: none;
}
	
#mobilenav {
	position: relative;
	width: 90%;
	clear: left;
	float: left;
	height: 16vh;
	display: none;
	left: 5%;
	z-index: 9;
}
	
#hamburgermenu {
	position: relative;
    width: 10%;
    left: 90%;
    bottom: 77%;
    clear: left;
    float: left;
    font-size: 5vw;
    display: block;
    text-align: center;
    cursor: pointer;
}
	
#mobiledropdown {
	position: relative;
	width: 100%;
	float: left;
	clear: left;
	height: 90%;
}
	
.mobilenavlink {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	background-color: white;
	border: 1px solid black;
	margin-bottom: 1vh;
	height: 20%;
	cursor: pointer;
}
	
#login_register {
    height: 3vh;
}
	
.flex-class1 {
	flex-direction: column;
	justify-content: space-evenly;
}
	
.socialmedia_icon {
    width: 30%;
}
	
#header_icon {
    position: relative;
    width: 100%;
    height: 100%;
}
	
.contactclass {
    font-size: 3vw;
}
	
.mainclosed {
    height: 75vh;
}
	
.mainopen {
	height: 62vh;
}
	
.maintextnormal {
	font-size: 4vw;
}

#google_map1 {
	width: 90%;
	left: 5%;
}	

.videoContent {
	width: 55%;
	left: 22.5%;
}

#form1 {
    width: 90%;
    left: 5%;
}

.form1_elements {
	width: 70%;
	left: 15%;
}

.nav-bar{
	display: none;
}

}
