@charset "utf-8";
/* CSS Document */

body {
	position: absolute;
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-image: url("seamless-pattern_1159-5086.jpg"); 
	background-repeat: repeat;
	background-size: 100% auto;
}

/* header */

#header {
	position: relative;
    background-color: lightgray;
	width: 100vw;
	height: 20vh;
	float: left;
	clear: left;
}

#flex-container1 {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#socialmedia{
	position: relative;
	width: 25%;
	margin-right: 45%;
}

#facebook{
    position: relative;
    width: 20%;
    height: 50%;
	margin-top: 10%;
	margin-right: 2%;
}

#insta{
    position: relative;
    width: 20%;
    height: 50%;
	margin-top: 10%;
	margin-right: 2%;
}

#twitter{
    position: relative;
    width: 20%;
    height: 50%;
	margin-top: 10%;
	margin-right: 2%;
}

#linkedin{
    position: relative;
    width: 20%;
    height: 50%;
	margin-top: 10%;
	margin-right: 2%;
}

#contacts {
	position: relative;
	width: 25%;
	background-color: yellowgreen;
	font-size: 1.5vw;
	text-align: center;
}

#logo { 
	position: relative;
	height: 100%;
	width: auto;
}

/* nav */

#nav {
	background-color: white;
	width: 100vw; 
	height: 8vh;
	color: black;
	position: relative;
	float: left;
	clear: left;
}

/* unvisited link */
a:link {
  color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
    text-decoration: none;
}

/* selected link */
a:active {
  color: black;
    text-decoration: none;
}

#flex-container2 {
	position: relative;
	width: 100%;
	height: 100%;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.nav-bar {
	position: relative;
	width: 20%;
	background-color: gold;
	font-size: 1.5vw;
	text-align: center;
	line-height: 4.5vh;
	border-radius: 1vw;
	border: 2px outset black;
}

/* mains */

/* main1 */

#main1 {
    position: relative;
	width: 100vw;
	height: 60vh;
	float: left;
	clear: left;
}

/* main2 */

#main2 {
    position: relative;
	width: 100vw;
	height: 60vh;
	background-color: skyblue;
	float: left;
	clear: left;
	display: none;
}

#google_map1 {
	position: relative;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
}

/* main3 */

#main3 {
    position: relative;
	width: 100vw;
	height: 60vh;
	background-color: skyblue;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

#video1 {
	position: relative;
	width: 25%;
	height: 46%;
	left: 1%;
	top: 29%;
	float: left;
    clear: left;
}

#youtube1 {
	position: relative;
	width: 25%;
	height: 46%;
	top: 29%;
	left: 1%;
	float: left;
	clear: left;
	overflow: auto;
}

/* main4 */

#main4 {
    position: relative;
	width: 100vw;
	height: 60vh;
	background-color: skyblue;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

/* main5 */

#main5 {
    position: relative;
	width: 100vw;
	height: 60vh;
	background-color: skyblue;
	float: left;
	clear: left;
	overflow: auto;
	display: none;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.Slides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*sign up*/

#sign-up {
    position: relative;
	width: 100vw;
	height: 60vh;
	float: left;
	clear: left;
	display: none;
}

.login_process {
    position: relative;
    width: 10%;
    height: 100%;
    text-align: center;
}

.form-container {
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	border: 2px black solid;
	background-color: white;
	z-index: +10;
}

.form-input {
	position: relative;
	width: 50%;
	height: 3vh;
	float: left;
	clear: left;
	margin-top: 2vh;
	left: 25%;
}

#submit_button {
	width: 20% !important;
}

#login_button {
	width: 20% !important;
}

/* login */

#login {
    position: relative;
	width: 100vw;
	height: 60vh;
	float: left;
	clear: left;
	display: none;
}

/* footer */

#footer {
    position: relative;
	width: 100vw;
	height: 10vh;
	background-color: white;
	float: left;
	clear: left;
}

/*Start of the media screen*/

@media screen and (max-width:414px){
	
	#hamburger_menu {
		display: block;
		position: relative;
		clear: left;
		float: left;
		width: 10%;
		height: 10vh;
		
	}	

	.cookie-banner {
		position: fixed;
		bottom: 40px;
		left: 10%;
		right: 10%;
		width: 80%;
		padding: 5px 14px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #eee;
		border-radius: 5px;
		box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	  }
	  .close {
		height: 20px;
		background-color: #777;
		border: none;
		color: white;
		border-radius: 2px;
		cursor: pointer;
	  }

}